[Unit]
Description=PulseAudio Sound System
Before=sound.target

[Service]
ExecStart=/usr/bin/pulseaudio --start
Restart=always

[Install]
WantedBy=default.target
