[user]
	name = Clement Delafargue
	email = clement@delafargue.name
[color]
	ui = auto

[url "git@github.com:eklaweb/"]
    insteadof = eklawebgh:

[url "git@github.com:divarvel/"]
    insteadof = divarvelgh:

[url "gitolite@git.clever-cloud.com:"]
    insteadof = clever:

[url "git@github.com:CleverCloud/"]
    insteadof = clevergh:

[url "git@github.com:ScalaIO/"]
    insteadof = scalaio:

[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[core]
	excludesfile = /home/clement/.gitignore_global

[alias]
    pl=pull
    ps=push
    st=status -sb
    lg=log --since yesterday --author clement
    ci=commit -v
    df=diff
    dc=diff --cached
    ad=add
    ap=add -p
    ri=rebase -i @{u}
    amend=commit --amend -C HEAD
[push]
	default = simple
