[user]
	name = Clément Delafargue
	email = clement@Delafargue.name
[color]
	ui = auto

[url "git@github.com:eklaweb/"]
    insteadof = eklawebgh:

[url "git@github.com:divarvel/"]
    insteadof = divarvelgh:
