
snippet cb
	.. code-block:: ${1:language}
	    
	   ${2} 

snippet image
	.. image:: ${1}
	   :width: ${2}
	   :height: ${3}
	   :alt: ${4}

snippet figure
	.. image:: ${1}
	   :width: ${2}
	   :height: ${3}
	   :alt: ${4}

	   ${5}
